$font-gothic: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-noto: 'Noto Sans JP', sans-serif;
$color-pale: #f0f0f0;
$break1-about-img-padding: 1160px;
$break2-about-img: 1100px;
$break3-about-content-margin: 641px;
